.carItem {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 28px;
	width: 274px;
	height: 426px;

	@media (min-width: 768) {
		flex-basis: calc((100% - 58px) / 2);
	}
	@media (min-width: 1440) {
		flex-basis: calc((100% - 87px) / 4);
	}
}

.favoriteBtn {
	position: absolute;
	top: 14px;
	right: 14px;
	z-index: 2;
	svg {
		fill: none;
		stroke: rgba(255, 255, 255, 0.8);
		transition-duration: 150ms;
		transition-timing-function: linear;

		&:hover {
			fill: var(--prim-accent-color);
			stroke: var(--prim-accent-color);
			transform: scale(1.3);
		}
		&.active {
			fill: var(--prim-accent-color);
			stroke: var(--prim-accent-color);
		}
	}
}
.image-container {
	position: relative;
}
.imageContainer::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 268px;
	background: linear-gradient(to bottom, rgba(18, 20, 23, 0.5), rgba(18, 20, 23, 0));
	border-radius: 14px;
}
.carImg {
	object-fit: cover;
	border-radius: 14px;
	margin-bottom: 14px;
}

.carMainInfo,
.title {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;

	span {
		font-family: Inter;
		color: var(--prim-accent-color);
	}
}

.title {
	font-size: 18px;
}

.carAdditionalInfo {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-top: 8px;

	ul {
		display: flex;
		gap: 10px;
		line-height: 1.5;
		font-size: 12px;
		align-items: center;

		li {
			position: relative;

			&:not(:last-child)::after {
				content: "";
				position: absolute;
				top: 0;
				right: -5px;
				height: 100%;
				width: 1px;
				background-color: rgba(18, 20, 23, 0.1);
			}
		}

		p {
			text-align: center;
			opacity: 0.5;

			height: 18px;
			overflow: hidden;
		}
	}
}
.carType {
	text-transform: capitalize;
}
