.header {
	background-color: pink;
	nav {
		display: flex;
		justify-content: center;
		width: 100%;

		// @media (min-width: 780px) {
		// 	flex-direction: row;
		// }

		ul {
			display: flex;
			flex-direction: column;
			gap: 20px;
			@media (min-width: 820px) {
				gap: 100px;
				flex-direction: row;
			}
			li {
				text-align: center;
			}
		}
	}
}
.container {
	padding: 15px 0;
	display: flex;
	align-items: center;
}

.link {
	color: var(--prim-accent-color);
}
